.faq {
  margin-left: 136px !important;
  margin-right: 136px !important;
  margin-top: 100px !important;
  font-weight: 700 !important;
}

.form-select-lg {
  padding-top: 18px !important;
  padding-bottom: 18px !important;
}

.faqTitle p:first-child {
  font-size: 24px;
}
.faqTitle p:last-child {
  font-size: 14px;
}

.selectForm .accordionTitle {
  font-size: 14px !important;
  font-weight: 700 !important;
}

/* .selectForm option {
    padding: 18px;
  } */

@media (max-width: 360px) {
  .faq {
    margin-left: 16px !important;
    margin-right: 16px !important;
    margin-top: 40px !important;
    flex-direction: column;
  }

  .faqTitle {
    text-align: center;
    font-family: Arial;
    box-sizing: content-box !important;
  }
  .faqTitle p:first-child {
    line-height: 36px;
  }
}
