.navbar-expand-lg {
  padding-left: 136px !important;
  padding-right: 136px !important;
  background-color: #f1f3ff;
}

.heroSection {
  margin-top: 0;
  display: flex;
  height: 500px;
  background-color: #f1f3ff;
  padding-top: 97px;
  padding-left: 136;
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
}

.titleHeroSection {
  margin-left: 136px;
  flex: 6;
  padding-right: 32px;
}
.titleHeroSection h1 {
  font-style: normal;
  font-size: 36px;
}
.titleHeroSection p {
  margin-top: 16px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-style: normal;
  line-height: 20px;
  width: 468px;
}

.carImage {
  flex: 6;
}

.borrow {
  padding: 8px 12px !important;
  border-radius: 6px !important;
  background-color: #5cb85f !important;
}

.icon-app {
  background-color: #0d28a6;
  width: 100px;
  height: 34px;
}

@media (max-width: 360px) {
  #navbarOffcanvasLg {
    width: 180px !important;
  }

  .offcanvas-title {
    font-size: 14px !important;
    font-weight: 700 !important;
    line-height: 20px !important;
    font-family: Arial, Helvetica, sans-serif;
  }

  .offcanvas-body {
    padding-top: 0 !important;
    font-size: 14px !important;
    font-family: Arial, Helvetica, sans-serif;
  }

  .nav-item .nav-link a {
    color: #000;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
  }

  .navbar {
    padding-left: 16px !important;
    padding-right: 16px !important;
  }

  .heroSection {
    height: 657px;
    padding-top: 90px;
    display: block;
  }

  .d-flex {
    display: block !important;
  }

  .titleHeroSection {
    margin-left: 0;
    flex: 6;
    padding-left: 16px;
    padding-right: 16px;
    /* gap: 16px; */
  }

  .titleHeroSection p {
    width: 100%;
  }

  .carImage {
    margin-top: 24px;
  }

  .carImage img {
    float: right;
    width: 100%;
    height: 199px;
    padding-left: 16px;
  }
}
