.cardsContainer {
  border-radius: 8px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
  padding: 24px;
}

.cardsPayment {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.cardsTitle {
  font-weight: 700;
  margin-bottom: 8px;
}

.cardsLabelContainer {
  width: 240.25px;
}

.cardsLabelTitle {
  margin-bottom: 8px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.cardsLabelValue {
  color: #8a8a8a;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.cardsButton {
  margin: 16px 0 24px;
  background-color: #5cb85f !important;
  border: none !important;
}

.cardsTimer {
  font-size: 18px;
  background-color: #fa2c5a;
  color: #fff;
  width: 87px;
  display: flex;
  justify-content: center;
}

.bankText {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  display: flex;
  flex-direction: row;
}

.bankText :last-child {
  margin-left: auto;
}

.bankButton {
  width: 61px;
  background-color: transparent;
  color: black;
  margin: 0 34px 0 0;
  padding: 0;
  border: 1px solid #d0d0d0;
  border-radius: 4px;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  text-align: center;
}

.paymentTitle {
  font-size: 12px;
  line-height: 18px;
}

.paymentText {
  font-family: Rubik;
  margin-bottom: 4px;
  font-weight: 300;
  font-size: 12px;
  line-height: 18px;
}

.paymentContainer {
  width: 557px;
  padding-left: 12px;
  margin-bottom: 16px;
  border-radius: 2px;
  border: 1px solid #3c3c3c;
  align-items: baseline;
}

.paymentInput {
  width: 507px;
  height: 18px;
  padding: 0px;
  border: none transparent;
}

.copyButton {
  width: 9.75px;
  margin: 9px 12px 9px 8px;
  padding: 0px;
  border: none transparent;
}

.tabsTitle {
  color: black !important;
  margin-bottom: 16px !important;
  font-size: 14px;
  line-height: 20px;
  align-items: center;
}

.tabsTitle.active .nav-link {
  font-weight: 700;
}

.tabsTitle:not(.active) .nav-link {
  font-weight: 400;
}

.tabsText {
  color: #8a8a8a;
  font-weight: 400;
  font-size: 14px;
  line-height: 24.5px;
}
