.banner {
  position: relative;
  grid-area: image;
  height: 550px;
  width: 550px;

  right: 0;
  bottom: 0;
}

.title {
  display: grid;
  color: #ffffff;
  font-weight: 400;
  font-family: "Rubik";
  size: 48px;
  line-height: 72px;
  opacity: 70%;
  grid-area: title;
  margin-top: 70px;
  justify-self: left;
}

.containers {
  position: relative;
  display: grid;
  grid-template-areas:
    "title"
    "image";
  justify-items: end;
  align-items: end;
  gap: 20px;
  padding-left: 220px;
}
