.banner {
  position: absolute;
  right: 0;
  bottom: 0;
  height: 550px;
  width: 550px;
}

.title {
  margin: 80px 176px 49px 190px;
  color: #ffffff;
  font-weight: 400;
  font-family: "Rubik";
  size: 48px;
  line-height: 72px;
  opacity: 70%;
}
