.whyUs {
  margin-left: 136px;
  margin-right: 136px;
  margin-top: 100px;
  font-weight: 700;
  margin-bottom: 100px;
}

.whyUsTitle {
  margin-bottom: 40px;
}

.whyUsTitle p:first-child {
  font-size: 24px;
}
.whyUsTitle p:last-child {
  font-size: 14px;
}

.whyUsCard {
  padding: 24px !important;
  height: 196px !important;
  width: 268px !important;
}

.whyUsCard .cardTitle {
  font-size: 16px;
  font-weight: 700;
  font-family: Arial;
  font-style: normal;
  line-height: 24px;
}

.whyUsCard p {
  font-size: 14px;
  font-weight: 700;
}

.whyUsCard img {
  height: 32px;
  width: 32px;
}

@media (max-width: 360px) {
  .whyUs {
    margin-left: 16px;
    margin-right: 16px;
    margin-top: 60px !important;
  }
  .whyUsCard {
    width: 328px !important;
    height: 176px !important;
  }

  .whyUsTitle {
    text-align: center;
  }
}
